.inputs-container {
  margin-top: 20px;
}

.row-padding {
  margin-bottom: 10px;
}

.spinner-position {
  margin-left: 10px;
  vertical-align: middle;
}

.error-messaging {
  color: red;
  margin-top: 5px;
}

.success-messaging {
  margin-left: 10px;
  color: green;
}
